<style>
	img.banner{
		width: 100%;
	}
	
	img.logolink{
		width: 38%;
		padding-top: 20px;
	}
	
	logolink:hover{
		color: #ef9b00;
	}
	
	#content{
		margin-left: 30px;
		margin-right: 30px;
		padding-left: 50px;
		padding-right: 40px;
	
	}
	
	img.displayed{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	p.link{
		padding-top:10px;
	}
	
	p.link:hover{
		color: #ef9b00;
		font-weight:700;
	}
	
	.dark-bg{
		background-color: #353535;
		color: #fff;
		border: 1px solid #353535;
	}

	.box-left{
		border-right: 1px solid #ef9b00;
		border-bottom: 0px;
	}
	
	.box-right{
		border-left: 1px solid #ef9b00;
		border-bottom: 0px;
	}
	
	.box-bottom{
		border-bottom: 1px solid #ef9b00;
	}

	
</style>

 <div>
        <img src="../../catalog/views/default/images/link-banner.png" class="img-responsive banner">  
    </div>
<br>

<div class="gn-search-page ng-scope" data-ng-controller="GnSearchController">
  <div class="ng-scope" data-ng-controller="gnsDefault">
	
	<div id="content">
		<br>
		<div class="row">
			<div class=" col-md-offset-3 col-md-6 col-sm-3 dark-bg text-center ">
				<h4>หน่วยงานที่เกี่ยวข้อง</h4>
			</div>
		</div>
        <br>
        <div class="row  box-bottom">
                    <a href="http://portal.dnp.go.th">
                        <div class="col-md-4 col-sm-6 text-center box-left">
                            <img src="../../catalog/views/default/images/link/company1.jpg" class="img-responsive displayed logolink">
                            <p class="link">กรมอุทยายแห่งชาติ สัตว์ป่า และพันธุ์พืช</p>
                        </div>
                    </a>
                    <a href="http://www.ldd.go.th">
                        <div class="col-md-4 col-sm-6 text-center">
                            <img src="../../catalog/views/default/images/link/company2.jpg" class="img-responsive displayed logolink">
                            <p class="link">กรมพัฒนาที่ดิน</p>
                        </div>
                    </a>
                    <a href="http://www.dol.go.th/dol/">
                        <div class="col-md-4 col-sm-6 text-center box-right">
                            <img src="../../catalog/views/default/images/link/company3.jpg" class="img-responsive displayed logolink">
                            <p class="link">กรมที่ดิน</p>
                        </div>
                    </a>
            </div>
            <div class="row  box-bottom">
                    <a href="http://www.dpt.go.th">
                        <div class="col-md-4 col-sm-6 text-center box-left">
                            <img src="../../catalog/views/default/images/link/company4.jpg" class="img-responsive displayed logolink">
                            <p class="link">กรมโยธาธิการ และผังเมือง</p>
                        </div>
                    </a>
                    <a href="http://www.doh.go.th">
                        <div class="col-md-4 col-sm-6 text-center">
                            <img src="../../catalog/views/default/images/link/company5.jpg" class="img-responsive displayed logolink">
                            <p class="link">กรมทางหลวง</p>
                        </div>
                    </a>
                    <a href="http://www.dwr.go.th">
                        <div class="col-md-4 col-sm-6 text-center box-right">
                            <img src="../../catalog/views/default/images/link/company6.jpg" class="img-responsive displayed logolink">
                            <p class="link">กรมทรัพยากรน้ำ</p>
                        </div>
                    </a>
            </div>
            <div class="row  box-bottom">
                    <a href="http://www.bangkok.go.th/main/">
                        <div class="col-md-4 col-sm-6 text-center box-left">
                            <img src="../../catalog/views/default/images/link/company7.jpg" class="img-responsive displayed logolink">
                            <p class="link">สำนักงานกรุงเทพมหานคร</p>
                        </div>
                    </a>
                    <a href="http://www.most.go.th/main/">
                        <div class="col-md-4 col-sm-6 text-center">
                            <img src="../../catalog/views/default/images/link/company8.jpg" class="img-responsive displayed logolink">
                            <p class="link">กระทรวงวิทยาศาสตร์ และเทคโนโลยี</p>
                        </div>
                    </a>
                    <a href="http://www.rid.go.th">
                        <div class="col-md-4 col-sm-6 text-center box-right">
                            <img src="../../catalog/views/default/images/link/company9.jpg" class="img-responsive displayed logolink">
                            <p class="link">กรมชลประทาน</p>
                        </div>
                    </a>
            </div>
			<div class="row  box-bottom">
                    <a href="http://www.rtsd.mi.th">
                        <div class="col-md-4 col-sm-6 text-center box-left">
                            <img src="../../catalog/views/default/images/link/company10.jpg" class="img-responsive displayed logolink">
                            <p class="link">กรมแผนที่ทหาร</p>
                        </div>
                    </a>
                    <a href="กรมป่าไม้">
                        <div class="col-md-4 col-sm-6 text-center">
                            <img src="../../catalog/views/default/images/link/company11.jpg" class="img-responsive displayed logolink">
                            <p class="link">กรมป่าไม้</p>
                        </div>
                    </a>
                    <a href="http://www.hydro.navy.mi.th">
                        <div class="col-md-4 col-sm-6 text-center box-right">
                            <img src="../../catalog/views/default/images/link/company12.jpg" class="img-responsive displayed logolink">
                            <p class="link">กรมอุทกศาสตร์</p>
                        </div>
                    </a>
            </div>
			<div class="row  box-bottom">
                    <a href="http://www.dla.go.th">
                        <div class="col-md-4 col-sm-6 text-center box-left">
                            <img src="../../catalog/views/default/images/link/company13.jpg" class="img-responsive displayed logolink">
                            <p class="link">กรมส่งเสริมการปกครองท้องถิ่น</p>
                        </div>
                    </a>
                    <a href="http://www.dopa.go.th/web/index.php">
                        <div class="col-md-4 col-sm-6 text-center">
                            <img src="../../catalog/views/default/images/link/company14.jpg" class="img-responsive displayed logolink">
                            <p class="link">กรมการปกครอง</p>
                        </div>
                    </a>
                    <a href="http://www.drr.go.th">
                        <div class="col-md-4 col-sm-6 text-center box-right">
                            <img src="../../catalog/views/default/images/link/company15.jpg" class="img-responsive displayed logolink">
                            <p class="link">กรมทางหลวงชนบท</p>
                        </div>
                    </a>
            </div>
			<div class="row  box-bottom">
                    <a href="http://www.mnre.go.th/main.php?filename=index">
                        <div class="col-md-4 col-sm-6 text-center box-left">
                            <img src="../../catalog/views/default/images/link/company16.jpg" class="img-responsive displayed logolink">
                            <p class="link">กระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม</p>
                        </div>
                    </a>
                    <a href="http://www.mict.go.th/view/1/home">
                        <div class="col-md-4 col-sm-6 text-center">
                            <img src="../../catalog/views/default/images/link/company17.jpg" class="img-responsive displayed logolink">
                            <p class="link">กระทรวงเทคโนโลยีสารสนเทศและการสื่อสาร</p>
                        </div>
                    </a>
                    <a href="http://www.mot.go.th">
                        <div class="col-md-4 col-sm-6 text-center box-right">
                            <img src="../../catalog/views/default/images/link/company18.jpg" class="img-responsive displayed logolink">
                            <p class="link">กระทรวงคมนาคม</p>
                        </div>
                    </a>
            </div>
			<div class="row ">
                    <a href="http://www.thaigov.go.th">
                        <div class="col-md-4 col-sm-6 text-center box-left">
                            <img src="../../catalog/views/default/images/link/company19.jpg" class="img-responsive displayed logolink">
                            <p class="link">สำนักนายกรัฐมนตรี</p>
                        </div>
                    </a>
                    <a href="http://www.gistda.or.th/main/">
                        <div class="col-md-4 col-sm-6 text-center box-left">
                            <img src="../../catalog/views/default/images/link/company20.jpg" class="img-responsive displayed logolink">
                            <p class="link">สำนักงานพัฒนาเทคโนโลยีอวกาศและภูมิสารสนเทศ</p>
                        </div>
                    </a>
                    
            </div>
            
        </div>
	  	<br><br>
     	<div id="content">
			<div class="row">
			<div class=" col-md-offset-3 col-md-6 col-sm-3 dark-bg text-center ">
				<h4>สถานศึกษาที่เกี่ยวข้อง</h4>
			</div>
			</div>
			<br>
	  		<div class="row  box-bottom">
                    <a href="http://www.cmu.ac.th/index.php">
                        <div class="col-md-4 col-sm-6 text-center box-left">
                            <img src="../../catalog/views/default/images/link/uni1.jpg" class="img-responsive displayed logolink">
                            <p class="link">มหาวิทยาลัยเชียงใหม่</p>
                        </div>
                    </a>
                    <a href="http://www.buu.ac.th/th/">
                        <div class="col-md-4 col-sm-6 text-center">
                            <img src="../../catalog/views/default/images/link/uni2.jpg" class="img-responsive displayed logolink">
                            <p class="link">มหาวิทยาลัยบูรพา</p>
                        </div>
                    </a>
                    <a href="http://www.psu.ac.th/th/">
                        <div class="col-md-4 col-sm-6 text-center box-right">
                            <img src="../../catalog/views/default/images/link/uni3.jpg" class="img-responsive displayed logolink">
                            <p class="link">มหาวิทยาลัยสงขลานครินทร์</p>
                        </div>
                    </a>
            </div>
	  		<div class="row  box-bottom">
                    <a href="http://www.nu.ac.th/th/">
                        <div class="col-md-4 col-sm-6 text-center box-left">
                            <img src="../../catalog/views/default/images/link/uni4.jpg" class="img-responsive displayed logolink">
                            <p class="link">มหาวิทยาลัยนเรศวร</p>
                        </div>
                    </a>
                    <a href="https://www.kku.ac.th/?l=th">
                        <div class="col-md-4 col-sm-6 text-center">
                            <img src="../../catalog/views/default/images/link/uni5.jpg" class="img-responsive displayed logolink">
                            <p class="link">มหาวิทยาลัยขอนแก่น</p>
                        </div>
                    </a>
                    <a href="http://www.chula.ac.th">
                        <div class="col-md-4 col-sm-6 text-center box-right">
                            <img src="../../catalog/views/default/images/link/uni6.jpg" class="img-responsive displayed logolink">
                            <p class="link">จุฬาลงกรณ์มหาวิทยาลัย</p>
                        </div>
                    </a>
            </div>
	  		<div class="row ">
                    <a href="http://www.mahidol.ac.th/th/">
                        <div class="col-md-4 col-sm-6 text-center box-left">
                            <img src="../../catalog/views/default/images/link/uni7.jpg" class="img-responsive displayed logolink">
                            <p class="link">มหาวิทยาลัยมหิดล</p>
                        </div>
                    </a>
                    <a href="http://www.ku.ac.th">
                        <div class="col-md-4 col-sm-6 text-center">
                            <img src="../../catalog/views/default/images/link/uni8.jpg" class="img-responsive displayed logolink">
                            <p class="link">มหาวิทยาลัยเกษตรศาสตร์</p>
                        </div>
                    </a>
                    <a href="http://web.sut.ac.th/2012/">
                        <div class="col-md-4 col-sm-6 text-center box-right">
                            <img src="../../catalog/views/default/images/link/uni9.jpg" class="img-responsive displayed logolink">
                            <p class="link">มหาวิทยาลัยเทคโนโลยีสุรนารี</p>
                        </div>
                    </a>
            </div>
	  
	  
	  	</div>
	
   
   
<!--   
  <div class="row gn-row-main">
	<div class="col-md-push-3 col-md-7 page_bottom">
		<div class="row">
			<div class="col-md-12"><p class="thsunarabunnew" style="color:#307292;font-size:20px;text-align:center;">หน่วยงานเครือข่าย</p></div></div>
		<div class="row"><div class="col-md-12"><img src="../../catalog/views/default/images/line.png"class="img-responsive center-block"></div></div>
		<div class="row">
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.dnp.go.th/">
					<div class="col-sm-12"><img src="../../catalog/views/default/images/company1.jpg" class="img-responsive center-block"></div>
					<div class="col-xs-12"><p style="color:#307292;margin-top:12%;text-align:center;">กรมอุทยานแห่งชาติ สัตว์ป่า และ พันธุ์พืช</p></div>
				</a>
			</div>
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.ldd.go.th/">
					<div class="col-xs-12"><img src="../../catalog/views/default/images/company2.jpg"class="img-responsive center-block"></div>
					<div class="col-xs-12"><p style="color:#307292;margin-top:12%;text-align:center;">กรมพัฒนาที่ดิน</p></div>
				</a>
			</div>
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.dol.go.th/">
					<div class="col-xs-12"><img src="../../catalog/views/default/images/company3.jpg"class="img-responsive center-block"></div>
					<div class="col-xs-12"><p style="color:#307292;margin-top:12%;text-align:center;">กรมที่ดิน</p></div>
				</a>
			</div>
	    </div>
	    <div class="row">
	    
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.dpt.go.th/">	
					<div class="col-xs-12"><img src="../../catalog/views/default/images/company4.jpg"class="img-responsive center-block"></div>
					<div class="col-xs-12"><p style="color:#307292;margin-top:12%;text-align:center;">กรมโยธาธิการ และผังเมือง</p></div>
				</a>
			</div>
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.doh.go.th/">
					<div class="col-xs-12"><img src="../../catalog/views/default/images/company5.jpg"class="img-responsive center-block"></div>
					<div class="col-xs-12"><p style="color:#307292;margin-top:12%;text-align:center;">กรมทางหลวง</p></div>
				</a>
			</div>
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.dwr.go.th/">
					<div class="col-xs-12"><img src="../../catalog/views/default/images/company6.jpg" class="img-responsive center-block"/></div>
					<div class="col-xs-12"><p style="color:#307292;margin-top:12%;text-align:center;">กรมทรัพยากรน้ำ</p></div>
				</a>
			</div>
		</div>
			
		<div class="row">	
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.bangkok.go.th/">
					<div class="col-md-12"><img src="../../catalog/views/default/images/company7.jpg"class="img-responsive center-block"></div>
					<div class="col-md-12"><p style="color:#307292;margin-top:12%;text-align:center;">สำนักงานกรุงเทพมหานคร</p></div>
				</a>
			</div>
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.most.go.th/">
					<div class="col-md-12"><img src="../../catalog/views/default/images/company8.jpg"class="img-responsive center-block"></div>
					<div class="col-md-12"><p style="color:#307292;margin-top:12%;text-align:center;">กระทรวงวิทยาศาสตร์ และเทคโนโลยี</p></div>
				</a>
			</div>
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.rid.go.th/">
					<div class="col-md-12"><img src="../../catalog/views/default/images/company9.jpg"class="img-responsive center-block"></div>
					<div class="col-md-12"><p style="color:#307292;margin-top:12%;text-align:center;">กรมชลประทาน</p></div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.rtsd.mi.th/">
					<div class="col-md-12"><img src="../../catalog/views/default/images/company10.jpg"class="img-responsive center-block"></div>
					<div class="col-md-12"><p style="color:#307292;margin-top:12%;text-align:center;">กรมแผนที่ทหาร</p></div>
				</a>
			</div>
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.forest.go.th/">
					<div class="col-md-12"><img src="../../catalog/views/default/images/company11.jpg"class="img-responsive center-block"></div>
					<div class="col-md-12"><p style="color:#307292;margin-top:12%;text-align:center;">กรมป่าไม้</p></div>
				</a>
			</div>
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.hydro.navy.mi.th/">
					<div class="col-md-12"><img src="../../catalog/views/default/images/company12.jpg"class="img-responsive center-block"></div>
					<div class="col-md-12"><p style="color:#307292;margin-top:12%;text-align:center;">กรมอุทกศาสตร์</p></div>
				</a>
			</div>
		</div>
		<div class="row">	
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.dla.go.th/">
					<div class="col-md-12"><img src="../../catalog/views/default/images/company13.jpg"class="img-responsive center-block"></div>
					<div class="col-md-12"><p style="color:#307292;margin-top:12%;text-align:center;">กรมส่งเสริมการปกครองท้องถิ่น</p></div>
				</a>
			</div>
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.dopa.go.th/">
					<div class="col-md-12"><img src="../../catalog/views/default/images/company14.jpg"class="img-responsive center-block"></div>
					<div class="col-md-12"><p style="color:#307292;margin-top:12%;text-align:center;">กรมการปกครอง</p></div>
				</a>
			</div>
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.drr.go.th/">
					<div class="col-md-12"><img src="../../catalog/views/default/images/company15.jpg"class="img-responsive center-block"></div>
					<div class="col-md-12"><p style="color:#307292;margin-top:12%;text-align:center;">กรมทางหลวงชนบท</p></div>
				</a>
			</div>
			
		</div>
		
		<div class="row">
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.mnre.go.th/">
					<div class="col-md-12"><img src="../../catalog/views/default/images/company16.jpg"class="img-responsive center-block"></div>
					<div class="col-md-12"><p style="color:#307292;margin-top:12%;text-align:center;">กระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม</p></div>
				</a>
			</div>
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.mict.go.th/">
					<div class="col-md-12"><img src="../../catalog/views/default/images/company17.jpg"class="img-responsive center-block"></div>
					<div class="col-md-12"><p style="color:#307292;margin-top:12%;text-align:center;">กระทรวงเทคโนโลยีสารสนเทศและการสื่อสาร</p></div>
				</a>
			</div>
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.mot.go.th/">
					<div class="col-md-12"><img src="../../catalog/views/default/images/company18.jpg"class="img-responsive center-block"></div>
					<div class="col-md-12"><p style="color:#307292;margin-top:12%;text-align:center;">กระทรวงคมนาคม</p></div>
				</a>
			</div>
			
		</div>
		<div class="row">
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.opm.go.th/">
					<div class="col-md-12"><img src="../../catalog/views/default/images/company19.jpg"class="img-responsive center-block"></div>
					<div class="col-md-12"><p style="color:#307292;margin-top:12%;text-align:center;">สำนักนายกรัฐมนตรี</p></div>
				</a>
			</div>
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.gistda.or.th/">
					<div class="col-md-12"><img src="../../catalog/views/default/images/company20.jpg"class="img-responsive center-block"></div>
					<div class="col-md-12"><p style="color:#307292;margin-top:12%;text-align:center;">สำนักงานพัฒนาเทคโนโลยีอวกาศและภูมิสารสนเทศ(องค์การมหาชน)</p></div>
				</a>
			</div>
			
		</div>
		
		<div class="row">
			<div class="col-md-12"><p class="thsunarabunnew" style="color:#307292;font-size:20px;text-align:center;">สถานศึกษาที่เกี่ยวข้อง</p></div></div>
		<div class="row"><div class="col-md-12"><img src="../../catalog/views/default/images/line.png"class="img-responsive center-block"></div></div>
		<div class="row">
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.cmu.ac.th/">
					<div class="col-md-12"><img src="../../catalog/views/default/images/company21.jpg"class="img-responsive center-block"></div>
					<div class="col-md-12"><p style="color:#307292;margin-top:12%;text-align:center;">มหาวิทยาลัยเชียงใหม่</p></div>
				</a>
			</div>
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.buu.ac.th/">
					<div class="col-md-12"><img src="../../catalog/views/default/images/company22.jpg"class="img-responsive center-block"></div>
					<div class="col-md-12"><p style="color:#307292;margin-top:12%;text-align:center;">มหาวิทยาลัยบูรพา</p></div>
				</a>
			</div>
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.psu.ac.th/">
					<div class="col-md-12"><img src="../../catalog/views/default/images/company24.jpg"class="img-responsive center-block"></div>
					<div class="col-md-12"><p style="color:#307292;margin-top:12%;text-align:center;">มหาวิทยาลัยสงขลานครินทร์</p></div>
				</a>
			</div>
			
		</div>
		<div class="row">
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.nu.ac.th/">
					<div class="col-md-12"><img src="../../catalog/views/default/images/company23.jpg"class="img-responsive center-block"></div>
					<div class="col-md-12"><p style="color:#307292;margin-top:12%;text-align:center;">มหาวิทยาลัยนเรศวร</p></div>
				</a>
			</div>
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.kku.ac.th/">
					<div class="col-md-12"><img src="../../catalog/views/default/images/company26.jpg"class="img-responsive center-block"></div>
					<div class="col-md-12"><p style="color:#307292;margin-top:12%;text-align:center;">มหาวิทยาลัยขอนแก่น</p></div>
				</a>
			</div>
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.chula.ac.th/">
					<div class="col-md-12"><img src="../../catalog/views/default/images/company27.jpg"class="img-responsive center-block"></div>
					<div class="col-md-12"><p style="color:#307292;margin-top:12%;text-align:center;">จุฬาลงกรณ์มหาวิทยาลัย</p></div>
				</a>
			</div>

			
		</div>
		<div class="row">
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.mahidol.ac.th/">
					<div class="col-md-12"><img src="../../catalog/views/default/images/company28.jpg"class="img-responsive center-block"></div>
					<div class="col-md-12"><p style="color:#307292;margin-top:12%;text-align:center;">มหาวิทยาลัยมหิดล</p></div>
				</a>
			</div>
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.ku.ac.th/">
					<div class="col-md-12"><img src="../../catalog/views/default/images/company29.jpg"class="img-responsive center-block"></div>
					<div class="col-md-12"><p style="color:#307292;margin-top:12%;text-align:center;">มหาวิทยาลัยเกษตรศาสตร์</p></div>
				</a>
			</div>
			<div class="col-xd-12 col-sm-6 col-md-4 box_height">
				<a  target="_blank" href="http://www.sut.ac.th/">
					<div class="col-md-12"><img src="../../catalog/views/default/images/company30.jpg"class="img-responsive center-block"></div>
					<div class="col-md-12"><p style="color:#307292;margin-top:12%;text-align:center;">มหาวิทยาลัยเทคโนโลยีสุรนารี</p></div>
				</a>
			</div>

			
		</div>
	</div>

  </div>
-->

  </div>
</div>
   


